<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base target="_top">
    <title> Encuesta de seguimiento a personal entrenado en Formación General </title>
   <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

<link rel="stylesheet" href="/public/CSS/estilos_sanamente_encuesta3.css" type="text/css">
 
<body class="bg-custom">

<div class="container">

<img src="/public/IMG/Sanamente.png" class="img-fluid" alt="Glasswing" />

<form action="/sanamente/encuesta3/post" method="POST" enctype="multipart/form-data" id="formualrioRegistro" name="formualrioRegistro" class="needs-validation" novalidatez>

<h2> Encuesta de seguimiento a personal entrenado en Formación General </h2>

  <label for="pais" class="form-label">Seleccione su país:<span style="color: #FF7D81;">*</span></label>
  <select class="form-select" id="pais" name="pais" onchange="actualizarMoneda()" required>
    <option value="" selected></option>
    {{range .Data.Paises}}
    <option value="{{.Value}}"> {{.Label}}</option>
    {{end}}
  </select>
  <br>

<p style="text-align: justify;">
  ¡Buen día! Le saludamos de Glasswing International. Como parte de los procesos de calidad y seguimiento, estamos realizando consultas para conocer los beneficios que la formación impartida por Glasswing, le ha brindado a nivel personal y en su lugar de trabajo. Por esta razón, le invitamos a llenar esta encuesta que nos ayudará a identificar las oportunidades de mejora del proyecto.
  <br><br>
  Si usted recibió esta encuesta, es porque se encuentra en nuestra base de participantes y fue seleccionado al azar, es decir, que solamente algunas personas recibirán este formulario. Aclaramos que el llenado de esta encuesta es completamente voluntario, por lo que puede decidir participar o no.
  <br><br>
  La encuesta tiene una duración de 20 minutos máximo, y las preguntas no son una evaluación de conocimiento. La información recopilada será analizada de forma grupal, confidencial y anónima, esto quiere decir que en ningún momento se solicitará su nombre, ni de detallará información de manera individual. Sus respuestas se almacenarán en bases de datos a las que solamente el equipo de Glasswing tendrá acceso, por tanto, su participación en la encuesta no tendrá ninguna repercusión para usted.
  <br>
  <p id = "textoMoneda">Como incentivo y agradecimiento a su tiempo en el llenado de esta encuesta, usted estará participando en la rifa de cinco tarjetas de regalo de $50.00 en Walmart. La rifa se realizará entre el 16 y 17 de diciembre de 2024. Únicamente cinco personas serán ganadoras de todas las participantes en la encuesta.</p>  
  
  Habiendo sido informada(o) del objetivo de esta encuesta y la garantía de protección de su información ¿desea completar de forma voluntaria esta encuesta? Recuerde que su participación es voluntaria.
  <br><br>
  
  <select class="form-select" id="participar" name="participar" onchange="activaselect()" required >
    <option value=""></option>
    {{range .Data2.Solucion}}
    {{if eq .IdPregunta "1" }} 
      <option value="{{.Value}}"> {{.Label}}</option>
    {{end}}
    {{end}}
  </select>  
</p> 

              <div id="ocultar" class="container d-none">

                <h4>Datos Sociodemográficos</h4>
              <br>
                <div class="col">
                  <label for="trabajo" class="form-label">Nombre de su lugar de trabajo:<span style="color: #FF7D81;">*</span></label>
                  <input type="text" name="trabajo" id="trabajo" class="form-control" maxlength="300" placeholder="">
                </div>

                <div class="col">
                  <label for="edad" class="form-label">Edad:<span style="color: #FF7D81;">*</span></label>
                  <input type="number" min=15 step="1" name="edad" id="edad" class="form-control" placeholder="" >
                </div>

                <div class="col">
                  <label for="aniol" class="form-label"># de años laborales en su trabajo actual:<span style="color: #FF7D81;">*</span></label>
                  <input type="number" min=0 step="1" name="aniol" id="aniol" class="form-control" placeholder="" >
                </div>
    
                <div class="col">
                  <label for="sexo" class="form-label">Sexo:<span style="color: #FF7D81;">*</span></label>
                  <select class="form-select" id="sexo" name="sexo"  >
                    <option value=""></option>
                    {{range .Data.Sexo}}
                    <option value="{{.Value}}"> {{.Label}}</option>
                  {{end}}
                 </select>
                </div>              

                <div class="col">
                  <label for="rol" class="form-label">Perfil de participante:<span style="color: #FF7D81;">*</span></label>
                  <select class="form-select" id="rol" name="rol" onchange="perfil7()" onchange="frecuencia()">
                    <option value=""></option>
                    {{range .Data2.Solucion}}
                    {{if eq .IdPregunta "2" }} 
                      <option value="{{.Value}}"> {{.Label}}</option>
                    {{end}}
                    {{end}}
                 </select>
                </div>
                <br>

                <h4>Afrontamiento del estrés y sus efectos a nivel individual y colectivo </h4>

                <p style="text-align: justify;">A continuación encontrará  preguntas relacionadas a cómo la formación general SanaMente pudo haber contribuido a su bienestar individual. Por favor, responde con completa honestidad, no hay respuestas buenas o malas, solo opiniones y todas son igual de importantes.</p>

               <div id="afectacion">
                <label for="afecta"  class="form-label">1. En la tabla se le presentarán una serie de afectaciones que la mayoría de personas pueden llegar a sentir al exponerse a estrés, seleccione sí ANTES de la formación usted era consciente de las siguientes afectaciones en su cotidianidad. <span style="color: #FF7D81;">*</span></label>
                 <table class="table table-bordered align-middle" style="text-align:center;">
                   <thead>
                     <tr>
                       <th style="vertical-align: middle;">Tipo de afectación</th>
                       <th style="vertical-align: middle;">ANTES de la formación NO reconocía estas afectaciones
                        </th>
                       <th style="vertical-align: middle;">ANTES de la formación SÍ reconocía estas afectaciones
                        </th>
                     </tr>
                   </thead>
                   <tbody>
                     
                    <tr id="afecta1linea">
                       <th style="text-align: left;">Mentales: preocupación, inseguridad, dificultad para decidir, miedo, pensamientos negativos sobre uno mismo o sobre nuestra actuación ante los otros, temor a que se den cuenta de nuestras dificultades, temor a la pérdida del control, dificultades para pensar, dificultad para concentrarse.</th>
                       <td><input type="radio" name="afecta1" id="afecta1" value="11"></td>
                       <td><input type="radio" name="afecta1" id="afecta1" value="12"></td>
                     </tr>
                 
                      
                     <tr id="afecta2linea">
                       <th style="text-align: left;">Corporales: sudoración, tensión muscular, palpitaciones, taquicardia, temblor, malestares gástricos o en el estómago, dificultades respiratorias, sequedad de boca, dificultades para deglutir, dolores de cabeza, mareo, náuseas, escalofríos.</th>
                       <td><input type="radio" name="afecta2" id="afecta2" value="11"></td>
                       <td><input type="radio" name="afecta2" id="afecta2" value="12"></td>
                     </tr>
                     
                     <tr id="afecta3linea">
                       <th style="text-align: left;">Conductuales: evitación de situaciones temidas, fumar en exceso, comer en exceso, beber en exceso, intranquilidad motora [movimientos repetitivos, rascarse, tocarse], ir de un lado para otro sin una finalidad concreta, tartamudear, quedarse paralizado.</th>
                       <td><input type="radio" name="afecta3" id="afecta3" value="11"></td>
                       <td><input type="radio" name="afecta3" id="afecta3" value="12"></td>
                     </tr>
                    
                   </tbody>
                 </table>
                 </div>
                 <br>

                 <label for="actitud" class="form-label">2. De las siguientes frases, ¿cuál es la que mejor describe su actitud hacia las afectaciones anteriormente mencionadas?<span style="color: #FF7D81;">*</span></label>
                 <br> 
                 {{range .Data2.Solucion}}
                 {{if eq .IdPregunta "3" }}
                  <input type="radio" value="{{.Value}}" name="actitud" id="actitud" > {{.Label}}</option><br><br>
                 {{end}}
                 {{end}}
                 <br>
                
                  <label for="estrategia"  class="form-label">3. ¿Ha tenido la oportunidad de aplicar alguna estrategia/pauta para enfrentar el estrés y fomentar el autocuidado?<span style="color: #FF7D81;">*</span></label>
                  <br> 
                  {{range .Data.Estrategia}}
                  <input type="radio" value="{{.Value}}" name="estrategia" id="estrategia{{.Value}}" onchange="otro()"> {{.Label}}</option><br><br> 
                   {{end}}

                  <div class="d-none" id="epracticadiv">
                    <label for="aplicadoP" class="form-label">4. En el último mes, aproximadamente, ¿cuántas veces ha aplicado estrategias/pautas para enfrentar el estrés?<span style="color: #FF7D81;">*</span></label>
                    <input type="number" min=0 step="1" name="aplicadoP" id="aplicadoP" class="form-control" placeholder="" >
                    <br>

                    <label for="epractica" class="form-label">5. De las siguientes estrategias/pautas para enfrentar el estrés y fomentar el autocuidado, seleccione aquellas que ha tenido la oportunidad de aplicar en los últimos dos meses: (Puede seleccionar más de una opción).<span style="color: #FF7D81;">*</span></label>
                    <br> 
                    {{range .Data.Practica}}
                    <input type="checkbox" value="{{.Value}}" name="epractica" id="epractica" onchange="otro3(this.value)"> {{.Label}}</option><br><br> 
                    {{end}}
                    <p id="errorMensaje1" style="color: #FF7D81; display: none;" tabindex="-1">Debe marcar al menos una opción.</p>
                  </div>

                 <div class="d-none" id="otraEstrategiadiv">
                  <label for="otraEstrategia" class="form-label">Otra<span style="color: #FF7D81;">*</span></label>
                  <textarea class="form-control" rows="3" name="otraEstrategia" id="otraEstrategia" maxlength="500"></textarea>
                 </div> 

                 <br>

                  <div class="d-none" id="apoyodiv">
                  <label for="apoyo" class="form-label">5.1 ¿Qué apoyo externo o especializado ha buscado? <span style="color: #FF7D81;">*</span></label>
                <br>
                 {{range .Data2.Solucion}}
                 {{if eq .IdPregunta "6" }}
                  <input type="radio" value="{{.Value}}" name="apoyo" id="apoyo{{.Value}}" onchange="otro4()">{{.Label}}</option><br><br>
                 {{end}}
                 {{end}}
                  </div>

                <div class="d-none" id="motivodiv">
                  <label for="motivo" class="form-label">Otro<span style="color: #FF7D81;">*</span></label>
                  <textarea class="form-control" rows="3" name="motivo" id="motivo" maxlength="500"></textarea>
                </div>
              <br>  

              <label for="practicat" class="form-label">6. ANTES de recibir las formaciones de Glasswing, ¿practicaba técnicas de autocuidado?<span style="color: #FF7D81;">*</span></label>
              <br> 
              {{range .Data2.Solucion}}
              {{if eq .IdPregunta "7"}}
                <input type="radio" value="{{.Value}}" name="practicat" id="practicat">{{.Label}}</option><br><br> 
              {{end}}
              {{end}}

            <h4>Efecto de la formación en lo cotidiano y en la atención en las personas usuarias </h4>

            <p style="text-align: justify;">A continuación, se le presentarán preguntas relacionadas a su lugar de trabajo, responda con base a sus actividades cotidianas.</p>

             <div class="d-none" id="perfilP"> <!-- class="d-none" -->
              <label for="personasAt1" class="form-label">7. Aproximadamente, ¿cuántas personas atiende en un día?<span style="color: #FF7D81;">*</span></label>
              <input type="number" min=0 step="1" name="personasAt1" id="personasAt1" class="form-control" placeholder="" >
            </div>

            <div class="d-none" id="perfilDocente"> <!-- class="d-none" -->
              <label for="personasAt2" class="form-label">7. Aproximadamente, ¿cuántos estudiantes atiende en un día?<span style="color: #FF7D81;">*</span></label>
              <input type="number" min=0 step="1" name="personasAt2" id="personasAt2" class="form-control" placeholder="" >
            </div>

            <br>

            <label for="opinionAtend" class="form-label">8. ¿Qué opina sobre la manera en la que ha atendido a las personas en su lugar de trabajo el último mes?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Data2.Solucion}}
            {{if eq .IdPregunta "8"}}
              <input type="radio" value="{{.Value}}" name="opinionAtend" id="opinionAtend" onchange="frecuencia()">{{.Label}}</option><br><br> 
            {{end}}
            {{end}}

            <div class="d-none" id="personalSPO"> <!-- class="d-none" -->
              <label for="opinionAtend" class="form-label">9. A continuación, encontrará una lista de actividades y situaciones que podría realizar en su día a día. Por favor, indique si la 
                frecuencia de estas actividades ha cambiado después de la formación de SanaMente: si se ha mantenido igual, ha aumentado o ha disminuido. Recuerde que no hay respuestas correctas 
                o incorrectas; queremos conocer su experiencia personal.<span style="color: #FF7D81;">*</span></label>
                <table class="table table-bordered align-middle" style="text-align:center;">
                  <thead>
                    <tr>
                      <th style="vertical-align: middle;">“DESPUÉS de recibir la formación SanaMente:”</th>
                      <th style="vertical-align: middle;">Se ha mantenido igual:</th>
                      <th style="vertical-align: middle;">Ha aumentado la frecuencia en que lo hace:</th>
                      <th style="vertical-align: middle;">Ha disminuido la frecuencia en que lo hace:</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                   <tr id="frecuencia1linea">
                      <th style="text-align: left;">La manera en la que explica sus acciones, procedimientos, indicaciones:</th>
                      <td><input type="radio" name="frecuencia1" id="frecuencia1" value="13"></td>
                      <td><input type="radio" name="frecuencia1" id="frecuencia1" value="14"></td>
                      <td><input type="radio" name="frecuencia1" id="frecuencia1" value="15"></td>
                    </tr>
                
                     
                    <tr id="frecuencia2linea">
                      <th style="text-align: left;">La frecuencia en la que anticipa lo que hará y explica el por qué:</th>
                      <td><input type="radio" name="frecuencia2" id="frecuencia2" value="13"></td>
                      <td><input type="radio" name="frecuencia2" id="frecuencia2" value="14"></td>
                      <td><input type="radio" name="frecuencia2" id="frecuencia2" value="15"></td>
                    </tr>
                    
                    <tr id="frecuencia3linea">
                      <th style="text-align: left;">La cantidad de veces que habla sobre temas de salud mental/emociones:</th>
                      <td><input type="radio" name="frecuencia3" id="frecuencia3" value="13"></td>
                      <td><input type="radio" name="frecuencia3" id="frecuencia3" value="14"></td>
                      <td><input type="radio" name="frecuencia3" id="frecuencia3" value="15"></td>
                    </tr>

                    <tr id="frecuencia4linea">
                      <th style="text-align: left;">La frecuencia con que ha llamado a las personas por su nombre:</th>
                      <td><input type="radio" name="frecuencia4" id="frecuencia4" value="13"></td>
                      <td><input type="radio" name="frecuencia4" id="frecuencia4" value="14"></td>
                      <td><input type="radio" name="frecuencia4" id="frecuencia4" value="15"></td>
                    </tr>
                
                     
                    <tr id="frecuencia5linea">
                      <th style="text-align: left;">La claridad en solventar dudas de las personas usuarias:</th>
                      <td><input type="radio" name="frecuencia5" id="frecuencia5" value="13"></td>
                      <td><input type="radio" name="frecuencia5" id="frecuencia5" value="14"></td>
                      <td><input type="radio" name="frecuencia5" id="frecuencia5" value="15"></td>
                    </tr>
                    
                    <tr id="frecuencia6linea">
                      <th style="text-align: left;">La recomendación de apoyo especializado en salud mental:</th>
                      <td><input type="radio" name="frecuencia6" id="frecuencia6" value="13"></td>
                      <td><input type="radio" name="frecuencia6" id="frecuencia6" value="14"></td>
                      <td><input type="radio" name="frecuencia6" id="frecuencia6" value="15"></td>
                    </tr>

                    <tr id="frecuencia7linea">
                      <th style="text-align: left;">La frecuencia en la que piensa en el bienestar emocional de las personas usuarias de su lugar de trabajo:</th>
                      <td><input type="radio" name="frecuencia7" id="frecuencia7" value="13"></td>
                      <td><input type="radio" name="frecuencia7" id="frecuencia7" value="14"></td>
                      <td><input type="radio" name="frecuencia7" id="frecuencia7" value="15"></td>
                    </tr>
                
                     
                    <tr id="frecuencia8linea">
                      <th style="text-align: left;">La cantidad de veces que ha motivado a alguien a realizar actividades de autocuidado:</th>
                      <td><input type="radio" name="frecuencia8" id="frecuencia8" value="13"></td>
                      <td><input type="radio" name="frecuencia8" id="frecuencia8" value="14"></td>
                      <td><input type="radio" name="frecuencia8" id="frecuencia8" value="15"></td>
                    </tr>
                    
                    <tr id="frecuencia9linea">
                      <th style="text-align: left;">La frecuencia en que evita que su lenguaje o expresiones puedan tener efectos o emociones incómodas para la persona que atiende:</th>
                      <td><input type="radio" name="frecuencia9" id="frecuencia9" value="13"></td>
                      <td><input type="radio" name="frecuencia9" id="frecuencia9" value="14"></td>
                      <td><input type="radio" name="frecuencia9" id="frecuencia9" value="15"></td>
                    </tr>
                   
                  </tbody>
                </table>
            </div>

            <div class="d-none" id="personalDocente"> 
              <label for="opinionAtend" class="form-label">10. A continuación, encontrará una lista de actividades y situaciones que podría realizar en su día a día. Por favor, indique si la 
                frecuencia de estas actividades ha cambiado después de la formación de SanaMente: si se ha mantenido igual, ha aumentado o ha disminuido. Recuerde que no hay respuestas correctas 
                o incorrectas; queremos conocer su experiencia personal.<span style="color: #FF7D81;">*</span></label>
                <table class="table table-bordered align-middle" style="text-align:center;">
                  <thead>
                    <tr>
                      <th style="vertical-align: middle;">“DESPUÉS de recibir la formación SanaMente:”</th>
                      <th style="vertical-align: middle;">Se ha mantenido igual:</th>
                      <th style="vertical-align: middle;">Ha aumentado la frecuencia en que lo hace:</th>
                      <th style="vertical-align: middle;">Ha disminuido la frecuencia en que lo hace:</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                   <tr id="frecuencia11linea">
                      <th style="text-align: left;">La manera en la que explica sus acciones, indicación u orientaciones:</th>
                      <td><input type="radio" name="frecuencia11" id="frecuencia11" value="13"></td>
                      <td><input type="radio" name="frecuencia11" id="frecuencia11" value="14"></td>
                      <td><input type="radio" name="frecuencia11" id="frecuencia11" value="15"></td>
                    </tr>
                
                     
                    <tr id="frecuencia12linea">
                      <th style="text-align: left;">La frecuencia en la que anticipa lo que hará y explica el por qué:</th>
                      <td><input type="radio" name="frecuencia12" id="frecuencia12" value="13"></td>
                      <td><input type="radio" name="frecuencia12" id="frecuencia12" value="14"></td>
                      <td><input type="radio" name="frecuencia12" id="frecuencia12" value="15"></td>
                    </tr>
                    
                    <tr id="frecuencia13linea">
                      <th style="text-align: left;">La cantidad de veces que habla sobre temas de salud mental/emociones:</th>
                      <td><input type="radio" name="frecuencia13" id="frecuencia13" value="13"></td>
                      <td><input type="radio" name="frecuencia13" id="frecuencia13" value="14"></td>
                      <td><input type="radio" name="frecuencia13" id="frecuencia13" value="15"></td>
                    </tr>

                    <tr id="frecuencia14linea">
                      <th style="text-align: left;">La frecuencia con que ha llamado a los estudiantes por su nombre:</th>
                      <td><input type="radio" name="frecuencia14" id="frecuencia14" value="13"></td>
                      <td><input type="radio" name="frecuencia14" id="frecuencia14" value="14"></td>
                      <td><input type="radio" name="frecuencia14" id="frecuencia14" value="15"></td>
                    </tr>
                
                     
                    <tr id="frecuencia15linea">
                      <th style="text-align: left;">La frecuencia en que ha acompañado una situación emocional de un estudiante:</th>
                      <td><input type="radio" name="frecuencia15" id="frecuencia15" value="13"></td>
                      <td><input type="radio" name="frecuencia15" id="frecuencia15" value="14"></td>
                      <td><input type="radio" name="frecuencia15" id="frecuencia15" value="15"></td>
                    </tr>
                    
                    <tr id="frecuencia16linea">
                      <th style="text-align: left;">La recomendación de apoyo especializado en salud mental:</th>
                      <td><input type="radio" name="frecuencia16" id="frecuencia16" value="13"></td>
                      <td><input type="radio" name="frecuencia16" id="frecuencia16" value="14"></td>
                      <td><input type="radio" name="frecuencia16" id="frecuencia16" value="15"></td>
                    </tr>

                    <tr id="frecuencia17linea">
                      <th style="text-align: left;">La frecuencia en la que piensa en el bienestar emocional de los estudiantes:</th>
                      <td><input type="radio" name="frecuencia17" id="frecuencia17" value="13"></td>
                      <td><input type="radio" name="frecuencia17" id="frecuencia17" value="14"></td>
                      <td><input type="radio" name="frecuencia17" id="frecuencia17" value="15"></td>
                    </tr>
                
                     
                    <tr id="frecuencia18linea">
                      <th style="text-align: left;">La frecuencia en que evita que su lenguaje o expresiones puedan tener efectos o emociones incómodas para los estudiantes:</th>
                      <td><input type="radio" name="frecuencia18" id="frecuencia18" value="13"></td>
                      <td><input type="radio" name="frecuencia18" id="frecuencia18" value="14"></td>
                      <td><input type="radio" name="frecuencia18" id="frecuencia18" value="15"></td>
                    </tr>
                   
                  </tbody>
                </table>
            </div>

            <div class="d-none" id="porcentajediv">
              <label for="angustia" class="form-label">11. Del total de personas atendidas, ¿en promedio con cuántas ha aplicado las estrategias antes mencionadas? Selecciona el porcentaje que estimes conveniente.<span style="color: #FF7D81;">*</span></label>
              <div class="percentage-bar" id="percentageBar">
                  <div class="percentage-point" data-value="0">0%</div>
                  <div class="percentage-point" data-value="10">10%</div>
                  <div class="percentage-point" data-value="20">20%</div>
                  <div class="percentage-point" data-value="30">30%</div>
                  <div class="percentage-point" data-value="40">40%</div>
                  <div class="percentage-point" data-value="50">50%</div>
                  <div class="percentage-point" data-value="60">60%</div>
                  <div class="percentage-point" data-value="70">70%</div>
                  <div class="percentage-point" data-value="80">80%</div>
                  <div class="percentage-point" data-value="90">90%</div>
                  <div class="percentage-point" data-value="100">100%</div>
              </div>
            </div>
            <input type="hidden" id="porcentaje" name="porcentaje">
            <br>

            <label for="referido"  class="form-label">12. En el último mes ¿A cuántas personas ha referido o animado a alguien a solicitar apoyo externo? <span style="color: #FF7D81;">*</span></label>
            <br> 
            <input class="form-control" type="number" min="1" step="1" name="82" id="82">
            <br>

            <label for="practicat1" class="form-label">13. ¿Percibe que los usuarios que ha atendido bajo enfoques de trauma informado pueden mostrar actitudes favorables para sus vidas después de recibir su atención?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Data2.Solucion}}
            {{if eq .IdPregunta "7"}}
              <input type="radio" value="{{.Value}}" name="practicat1" id="practicat1{{.Value}}" onchange="otro6()">{{.Label}}</option><br><br> 
            {{end}}
            {{end}}

            <div class="d-none" id="831div"> <!-- class="d-none" -->
              <label for="motivo" class="form-label">14. Podría mencionar algunos de los beneficios que pueden tener estas personas tras su atención: <span style="color: #FF7D81;">*</span></label>
              <textarea class="form-control" rows="3" name="motivo2" id="motivo2" maxlength="500"></textarea>
              <br>
            </div>

            <label for="afirmaciones" class="form-label">15. A continuación, se presentan tres afirmaciones, seleccionar qué tan de acuerdo o en desacuerdo se encuentra con ellas:<span style="color: #FF7D81;">*</span></label>
              <table class="table table-bordered align-middle" style="text-align:center;">
                <thead>
                  <tr>
                    <th style="vertical-align: middle;">Afirmación</th>
                    <th style="vertical-align: middle;">De acuerdo</th>
                    <th style="vertical-align: middle;">No estoy seguro(a)</th>
                    <th style="vertical-align: middle;">En desacuerdo</th>
                  </tr>
                </thead>
                <tbody>
                  
                 <tr id="afirmaciones1linea">
                    <th style="text-align: left;">Conocer el impacto del trauma en los jóvenes me ayuda a entender sus comportamientos.</th>
                    <td><input type="radio" name="afirmaciones1" id="afirmaciones1" value="16"></td>
                    <td><input type="radio" name="afirmaciones1" id="afirmaciones1" value="17"></td>
                    <td><input type="radio" name="afirmaciones1" id="afirmaciones1" value="18"></td>
                  </tr>
              
                   
                  <tr id="afirmaciones2linea">
                    <th style="text-align: left;">Las experiencias vividas por los jóvenes pueden llevarlos a estar constantemente alerta ante posibles peligros.</th>
                    <td><input type="radio" name="afirmaciones2" id="afirmaciones2" value="16"></td>
                    <td><input type="radio" name="afirmaciones2" id="afirmaciones2" value="17"></td>
                    <td><input type="radio" name="afirmaciones2" id="afirmaciones2" value="18"></td>
                  </tr>
                  
                  <tr id="afirmaciones3linea">
                    <th style="text-align: left;">Mantener estereotipos sobre los jóvenes puede contribuir a su exclusión.</th>
                    <td><input type="radio" name="afirmaciones3" id="afirmaciones3" value="16"></td>
                    <td><input type="radio" name="afirmaciones3" id="afirmaciones3" value="17"></td>
                    <td><input type="radio" name="afirmaciones3" id="afirmaciones3" value="18"></td>
                  </tr>
                 
                </tbody>
              </table>

            <label for="ptrabajo" class="form-label">16.  De las siguientes afirmaciones, seleccione cuál o cuáles se ponen en práctica en su lugar de trabajo, es decir, no necesariamente que usted las haga, si no que las observe en su equipo de trabajo después de recibir la formación: <span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Data2.Solucion}}
            {{if eq .IdPregunta "9" }}
              <input type="checkbox" value="{{.Value}}" name="op101" id="op101" onchange="afirmacionesP()"> {{.Label}}</option><br><br> 
            {{end}}
            {{end}}
            <p id="errorMensaje2" style="color: #FF7D81; display: none;" tabindex="-1">Debe marcar al menos una opción.</p>

            <label for="utilidad" class="form-label">17. ¿Considera que las herramientas recibidas en la formación le han ayudado para afrontar conflictos en su lugar de trabajo?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Data2.Solucion}}
            {{if eq .IdPregunta "7"}}
              <input type="radio" value="{{.Value}}" name="utilidad" id="utilidad{{.Value}}" onchange="otro5()">{{.Label}}</option><br><br> 
            {{end}}
            {{end}}

            <div class="d-none" id="ejemplosl"> <!-- class="d-none" -->
              <label for="ejemplos" class="form-label">18. ¿Por qué? podría poner ejemplos.<span style="color: #FF7D81;">*</span></label>
              <input type="text" name="ejemplos" id="ejemplos" class="form-control" maxlength="300" placeholder="">
            </div>
            <br>

            <label for="resolucion" class="form-label">19. ¿Considera que la resolución de conflictos en su equipo de trabajo ha mejorado? es decir que el clima laboral ha mejorado.<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Data2.Solucion}}
            {{if eq .IdPregunta "7"}}
              <input type="radio" value="{{.Value}}" name="resolucion" id="resolucion{{.Value}}">{{.Label}}</option><br><br> 
            {{end}}
            {{end}}

            <label for="conocia" class="form-label">20. ANTES de recibir la formación, ¿conocía sobre los efectos del trauma en la vida de las personas?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Data2.Solucion}}
            {{if eq .IdPregunta "7"}}
              <input type="radio" value="{{.Value}}" name="conocia" id="conocia{{.Value}}">{{.Label}}</option><br><br> 
            {{end}}
            {{end}}

            <label for="consciente" class="form-label">21. DESPUÉS de la formación, ¿considera que es consciente de los efectos del trauma en la vida de las personas?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Data2.Solucion}}
            {{if eq .IdPregunta "7"}}
              <input type="radio" value="{{.Value}}" name="consciente" id="consciente{{.Value}}">{{.Label}}</option><br><br> 
            {{end}}
            {{end}}

            <label for="beneficio" class="form-label">22. ¿Cómo considera que su conocimiento sobre trauma beneficia a las personas que atiende en su lugar de trabajo?<span style="color: #FF7D81;">*</span></label>
            <textarea class="form-control" rows="2" name="beneficio" id="beneficio" maxlength="300"></textarea>
            
<br>
            <h4>Cohesión Social</h4>
<br>
            <label for="relacion" class="form-label">23. A continuación encontrará una serie de círculos, por favor seleccione el círculo que mejor represente su relación , ANTES y DESPUÉS de la formación: <span style="color: #FF7D81;">*</span></label>
            <div class="form-group">
              <label>¿Qué tan cerca se sentía de su familia ANTES de la formación?<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" id="rel1" value="1">
                        <label class="form-check-label" for="rel1">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
    
            <hr size="8px" color="#005A60" />
            <div class="form-group" style="color: darkblue;">
              <label> ¿Qué tan cerca se sentía de su familia DESPUÉS de la formación? <span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel12" id="rel12" value="1">
                        <label class="form-check-label" for="rel1">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel12" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel12" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel12" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel12" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr size="8px" color="#005A60" />

            <div class="form-group">
              <label>¿Qué tan cerca se sentía de las personas de su trabajo ANTES de la formación?<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" id="rel2" value="1">
                        <label class="form-check-label" for="rel2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr size="8px" color="#005A60" />
          
            <div class="form-group">
              <label style="color: darkblue;"> ¿Qué tan cerca se sentía de las personas de su trabajo DESPUÉS de la formación?<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel22" id="rel22" value="1">
                        <label class="form-check-label" for="rel2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel22" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel22" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel22" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel22" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr size="8px" color="#005A60" />

            <div class="form-group">
              <label>¿Qué tan cerca se sentía de los usuarios ANTES de la formación?<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" id="rel3" value="1">
                        <label class="form-check-label" for="rel3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr size="8px" color="#005A60" />
            <div class="form-group">
              <label style="color: darkblue;">  ¿Qué tan cerca se sentía de los usuarios DESPUÉS de la formación?<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel32" id="rel32" value="1">
                        <label class="form-check-label" for="rel3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel32" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel32" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel32" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel32" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <hr size="8px" color="#005A60" />

          <div class="form-group">
            <label>¿Qué tan cerca se sentía de las personas de su país ANTES de la formación?<span style="color: #FF7D81;">*</span></label><br>
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" id="rel4" value="1">
                      <label class="form-check-label" for="rel4">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_1.png" class="img-max" alt="Imagen 1">
                        </div>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="2">
                      <label class="form-check-label" for="imagen2">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_2.png" class="img-max" alt="Imagen 2">
                        </div>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="3">
                      <label class="form-check-label" for="imagen3">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_3.png" class="img-max" alt="Imagen 3">
                        </div>
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="4">
                      <label class="form-check-label" for="imagen4">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_4.png" class="img-max" alt="Imagen 4">
                        </div>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="5">
                      <label class="form-check-label" for="imagen5">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_5.png" class="img-max" alt="Imagen 5">
                        </div>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr size="8px" color="#005A60" />
       
        <div class="form-group">
          <label style="color: darkblue;"> ¿Qué tan cerca se sentía de las personas de su país DESPUÉS de la formación?<span style="color: #FF7D81;">*</span></label><br>
          <table class="table">
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rel42" id="rel42" value="1">
                    <label class="form-check-label" for="rel4">
                      <div class="d-flex justify-content-center">
                        <img src="/public/IMG/rel4_1.png" class="img-max" alt="Imagen 1">
                      </div>
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rel42" value="2">
                    <label class="form-check-label" for="imagen2">
                      <div class="d-flex justify-content-center">
                        <img src="/public/IMG/rel4_2.png" class="img-max" alt="Imagen 2">
                      </div>
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rel42" value="3">
                    <label class="form-check-label" for="imagen3">
                      <div class="d-flex justify-content-center">
                        <img src="/public/IMG/rel4_3.png" class="img-max" alt="Imagen 3">
                      </div>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rel42" value="4">
                    <label class="form-check-label" for="imagen4">
                      <div class="d-flex justify-content-center">
                        <img src="/public/IMG/rel4_4.png" class="img-max" alt="Imagen 4">
                      </div>
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="rel42" value="5">
                    <label class="form-check-label" for="imagen5">
                      <div class="d-flex justify-content-center">
                        <img src="/public/IMG/rel4_5.png" class="img-max" alt="Imagen 5">
                      </div>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

       <br>
      <br>
      
      <input type="hidden" name="id" value="{{.Data3}}" id="id">
      <label> Su aporte es muy valioso. ¡Muchas gracias por completar esta encuesta! Utilizaremos su número de teléfono para confirmar si es una de las personas ganadoras de la rifa. </label>
    </div>
    <br>
    <button class="btn btn-primary" id="boton" type="submit" > Enviar</button>
    </div>
    </form>
 
   <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/JS/sanamente/encuesta3.js"></script>
  </body>
</html>

