<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base target="_top">
    <title> Encuesta de seguimiento a personal entrenado en Formación General </title>
   <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

<link rel="stylesheet" href="/public/CSS/estilos_sanamente_encuesta.css" type="text/css">
 
<body class="bg-custom">

<div class="container">

<img src="/public/IMG/Sanamente.png" class="img-fluid" alt="Glasswing" />

<form action="/sanamente/encuesta/post" method="POST" enctype="multipart/form-data" id="formualrioRegistro" name="formualrioRegistro" class="needs-validation" novalidatez>

<h2> Encuesta de seguimiento a personal entrenado en Formación General </h2>
<p style="text-align: justify;">
  ¡Buen día! Le saludamos de Glasswing International. Usted está recibiendo esta encuesta porque fue participante de la formación general impartida por nuestro equipo. Como parte de los procesos de calidad y seguimiento, estamos realizando consultas para conocer los beneficios que la formación le ha brindado a nivel personal y en su lugar de trabajo. Por esta razón, le invitamos a llenar esta encuesta que nos ayudará a identificar las oportunidades de mejora del proyecto.
  <br><br>
  Si usted recibió esta encuesta, es porque se encuentra en nuestra base de participantes y fue seleccionado al azar, es decir, que solamente algunas personas recibirán este formulario. Aclaramos que el llenado de esta encuesta es completamente voluntario, por lo que puede decidir participar, o no participar.
  <br><br>
  La encuesta tiene una duración de 10 minutos máximo, y las preguntas no son una evaluación de conocimiento. Únicamente queremos conocer cómo ha utilizado las herramientas brindadas por la formación. La información recopilada será analizada de forma confidencial y anónima, esto quiere decir que en ningún momento se solicitará su nombre. Además, las respuestas se analizarán grupalmente, es decir, que no se presentarán respuestas individuales o por cada persona. Sus respuestas se almacenarán en bases de datos a las que solamente el equipo de Glasswing tendrá acceso, por tanto, su participación en la encuesta no tendrá ninguna repercusión para usted.
  <br><br>
  Como incentivo y agradecimiento a su tiempo en el llenado de esta encuesta, usted estará participando en la rifa de tres tarjetas de regalo de $50.00 en Walmart. La rifa se realizará entre el 01 y 30 de junio de 2023, es decir, se seleccionará a tres personas ganadoras de todas las participantes en la encuesta. 
  <br><br>
  Habiendo sido informada(o) del objetivo de esta encuesta y la garantía de protección de su información, ¿podría apoyarnos completando esta breve encuesta? Recuerde que su participación es voluntaria.
  <br><br>
  <select class="form-select" id="participar" name="participar" onchange="activaselect()" required >
    <option value=""></option>
    {{range .Respuestas}}
    <option value="{{.Value}}">{{.Label}}</option>
    {{end}}
  </select>  

  <label for="pais" class="form-label">Seleccione su país:<span style="color: #FF7D81;">*</span></label>
  <select class="form-select" id="pais" name="pais" required>
    <option value="" selected></option>
    {{range .Paises}}
    <option value="{{.Value}}">{{.Label}}</option>
    {{end}}
</select>
  <br>
              </p> 
              <div id="ocultar" class="container d-none">

                <p style="text-align: justify;"> A continuación se presenta una serie de preguntas y afirmaciones a las cuales deberá responder tomando en cuenta su experiencia personal y lo aprendido en la formación brindada por Glasswing. Aunque algunas oraciones le suenen parecidas, en realidad tratan aspectos diferentes. 
                </p>
              <br>
                <h4>Datos Sociodemográficos</h4>
              <br>
                <div class="col">
                  <label for="trabajo" class="form-label">Nombre de su lugar de trabajo:<span style="color: #FF7D81;">*</span></label>
                  <input type="text" name="trabajo" id="trabajo" class="form-control" maxlength="300" placeholder="">
                </div>

                <div class="col">
                  <label for="edad" class="form-label">Edad:<span style="color: #FF7D81;">*</span></label>
                  <input type="number" min=15 step="1" name="edad" id="edad" class="form-control" placeholder="" >
                </div>

                <div class="col">
                  <label for="aniol" class="form-label"># de años laborales en su trabajo actual:<span style="color: #FF7D81;">*</span></label>
                  <input type="number" min=0 step="1" name="aniol" id="aniol" class="form-control" placeholder="" >
                </div>
    
                <div class="col">
                  <label for="sexo" class="form-label">Sexo:<span style="color: #FF7D81;">*</span></label>
                  <select class="form-select" id="sexo" name="sexo"  >
                    <option value=""></option>
                    {{range .Sexo}}
                    <option value="{{.Value}}">{{.Label}}</option>
                  {{end}}
                 </select>
                             </div> 
                        
                <div class="col">
                  <label for="puesto" class="form-label">Rol o puesto dentro de su lugar de trabajo:<span style="color: #FF7D81;">*</span></label>
                  <input type="text" name="puesto" id="puesto" class="form-control" maxlength="150" placeholder="" >
                </div>
                <br>
                <h4>Prácticas de autocuidado y acciones a favor del bienestar</h4>
                <p style="text-align: justify;"> A continuación, se le presenta una serie de preguntas con el objetivo de conocer cómo el proceso formativo que recibió de parte de Glasswing International apoya en su conocimiento y manejo de estrés y autocuidado. 
                </p>

                <label for="afirma" class="form-label">1. A continuación se encuentra una lista de afirmaciones. Por favor indique con qué frecuencia dichos enunciados se aplican en su vida cotidiana:<span style="color: #FF7D81;">*</span></label>
                <table class="table table-bordered align-middle" style="text-align:center;">
                 <thead>
                   <tr>
                     <th>Afirmaciones</th>
                     <th>Nunca</th>
                     <th>Muy pocas veces</th>
                     <th>Algunas veces</th>
                     <th>Ocasionalmente</th>
                     <th>Casi siempre</th>
                     <th>Siempre</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <th style="text-align: left;">Cuando me siento sobrepasado(a) o muy cargado(a) puedo encontrar un lugar tranquilo dentro de mí.</th>
                     <td><input type="radio" name="afirma1" id="afirma1" value="1"></td> 
                     <td><input type="radio" name="afirma1" id="afirma1" value="2"></td>
                     <td><input type="radio" name="afirma1" id="afirma1" value="3"></td>
                     <td><input type="radio" name="afirma1" id="afirma1" value="4"></td>
                     <td><input type="radio" name="afirma1" id="afirma1" value="5"></td>
                     <td><input type="radio" name="afirma1" id="afirma1" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Cuando dirijo la atención hacia mi cuerpo siento calma.</th>
                     <td><input type="radio" name="afirma2" id="afirma2" value="1"></td>
                     <td><input type="radio" name="afirma2" id="afirma2" value="2"></td>
                     <td><input type="radio" name="afirma2" id="afirma2" value="3"></td>
                     <td><input type="radio" name="afirma2" id="afirma2" value="4"></td>
                     <td><input type="radio" name="afirma2" id="afirma2" value="5"></td>
                     <td><input type="radio" name="afirma2" id="afirma2" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Puedo utilizar mi respiración para reducir la tensión.</th>
                     <td><input type="radio" name="afirma3" id="afirma3" value="1"></td>
                     <td><input type="radio" name="afirma3" id="afirma3" value="2"></td>
                     <td><input type="radio" name="afirma3" id="afirma3" value="3"></td>
                     <td><input type="radio" name="afirma3" id="afirma3" value="4"></td>
                     <td><input type="radio" name="afirma3" id="afirma3" value="5"></td>
                     <td><input type="radio" name="afirma3" id="afirma3" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Cuando estoy atrapado(a) en mis pensamientos puedo calmar mi mente concentrándome en mi cuerpo/respiración.</th>
                     <td><input type="radio" name="afirma4" id="afirma4" value="1"></td>
                     <td><input type="radio" name="afirma4" id="afirma4" value="2"></td>
                     <td><input type="radio" name="afirma4" id="afirma4" value="3"></td>
                     <td><input type="radio" name="afirma4" id="afirma4" value="4"></td>
                     <td><input type="radio" name="afirma4" id="afirma4" value="5"></td>
                     <td><input type="radio" name="afirma4" id="afirma4" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Noto cómo mi cuerpo cambia cuando estoy enojado(a).</th>
                     <td><input type="radio" name="afirma5" id="afirma5" value="1"></td>
                     <td><input type="radio" name="afirma5" id="afirma5" value="2"></td>
                     <td><input type="radio" name="afirma5" id="afirma5" value="3"></td>
                     <td><input type="radio" name="afirma5" id="afirma5" value="4"></td>
                     <td><input type="radio" name="afirma5" id="afirma5" value="5"></td>
                     <td><input type="radio" name="afirma5" id="afirma5" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Cuando algo anda mal en mi vida puedo sentirlo en mi cuerpo.</th>
                     <td><input type="radio" name="afirma6" id="afirma6" value="1"></td>
                     <td><input type="radio" name="afirma6" id="afirma6" value="2"></td>
                     <td><input type="radio" name="afirma6" id="afirma6" value="3"></td>
                     <td><input type="radio" name="afirma6" id="afirma6" value="4"></td>
                     <td><input type="radio" name="afirma6" id="afirma6" value="5"></td>
                     <td><input type="radio" name="afirma6" id="afirma6" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Noto que mi cuerpo se siente diferente después de una experiencia apacible (agradable).</th>
                     <td><input type="radio" name="afirma7" id="afirma7" value="1"></td>
                     <td><input type="radio" name="afirma7" id="afirma7" value="2"></td>
                     <td><input type="radio" name="afirma7" id="afirma7" value="3"></td>
                     <td><input type="radio" name="afirma7" id="afirma7" value="4"></td>
                     <td><input type="radio" name="afirma7" id="afirma7" value="5"></td>
                     <td><input type="radio" name="afirma7" id="afirma7" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Noto que puedo respirar libre y fácilmente cuando me siento cómodo(a).</th>
                     <td><input type="radio" name="afirma8" id="afirma8" value="1"></td>
                     <td><input type="radio" name="afirma8" id="afirma8" value="2"></td>
                     <td><input type="radio" name="afirma8" id="afirma8" value="3"></td>
                     <td><input type="radio" name="afirma8" id="afirma8" value="4"></td>
                     <td><input type="radio" name="afirma8" id="afirma8" value="5"></td>
                     <td><input type="radio" name="afirma8" id="afirma8" value="6"></td>
                   </tr>
                   <tr>
                     <th style="text-align: left;">Noto cómo mi cuerpo cambia cuando me siento contento(a)/feliz.</th>
                     <td><input type="radio" name="afirma9" id="afirma9" value="1"></td>
                     <td><input type="radio" name="afirma9" id="afirma9" value="2"></td>
                     <td><input type="radio" name="afirma9" id="afirma9" value="3"></td>
                     <td><input type="radio" name="afirma9" id="afirma9" value="4"></td>
                     <td><input type="radio" name="afirma9" id="afirma9" value="5"></td>
                     <td><input type="radio" name="afirma9" id="afirma9" value="6"></td>
                   </tr>
           
                 </tbody>
               </table>

               <div id="afectacion">
                <label for="afecta"  class="form-label">2. Durante las últimas dos semanas, ¿ha experimentado alguna de las siguientes afectaciones? (Seleccione todas las situaciones experimentadas):<span style="color: #FF7D81;">*</span></label>
                <br> 
                {{range .Afectacion}}
                <input type="checkbox" value="{{.Value}}" name="afecta" id="afecta{{.Value}}" onchange="otro2()">{{.Label}}</option><br><br> 
                 {{end}}
                <br>
                <div id="afectadiv" class="d-none"> 
                <label for="aafecta" class="form-label">2.1. En la siguiente tabla, seleccione si ANTES de la formación usted era consciente de las afectaciones antes mencionadas en su cotidianidad.<span style="color: #FF7D81;">*</span></label>
                 <table class="table table-bordered">
                   <thead>
                     <tr>
                       <th>Tipo de afectación</th>
                       <th>NO las reconocía en mí ANTES de la formación</th>
                       <th>SÍ las reconocía en mí ANTES de la formación</th>
                     </tr>
                   </thead>
                   <tbody>
                     
                    <tr id="afecta1linea">
                       <th>Mentales: preocupación, inseguridad, dificultad para decidir, miedo, pensamientos negativos sobre uno mismo o sobre nuestra actuación ante los otros, temor a que se den cuenta de nuestras dificultades, temor a la pérdida del control, dificultades para pensar, dificultad para concentrarse.</th>
                       <td><input type="radio" name="afecta1" id="afecta1" value="11"></td>
                       <td><input type="radio" name="afecta1" id="afecta1" value="12"></td>
                     </tr>
                 
                      
                     <tr id="afecta2linea">
                       <th>Corporales: sudoración, tensión muscular, palpitaciones, taquicardia, temblor, malestares gástricos o en el estómago, dificultades respiratorias, sequedad de boca, dificultades para deglutir, dolores de cabeza, mareo, náuseas, escalofríos.</th>
                       <td><input type="radio" name="afecta2" id="afecta2" value="11"></td>
                       <td><input type="radio" name="afecta2" id="afecta2" value="12"></td>
                     </tr>
                     
                     <tr id="afecta3linea">
                       <th>Conductuales: evitación de situaciones temidas, fumar en exceso, comer en exceso, beber en exceso, intranquilidad motora [movimientos repetitivos, rascarse, tocarse], ir de un lado para otro sin una finalidad concreta, tartamudear, quedarse paralizado.</th>
                       <td><input type="radio" name="afecta3" id="afecta3" value="11"></td>
                       <td><input type="radio" name="afecta3" id="afecta3" value="12"></td>
                     </tr>
                    
                   </tbody>
                 </table>
                 </div>
                 <br>

                 <label for="actitud" class="form-label">2.2 De las siguientes frases, ¿cuál es la que mejor describe su actitud hacia las afectaciones anteriormente mencionadas?<span style="color: #FF7D81;">*</span></label>
                 <br> 
                 {{range .Actitud}}
                 <input type="radio" value="{{.Value}}" name="actitud" id="actitud" >{{.Label}}</option><br><br> 
                  {{end}}
                 <br>
                </div>

                
                  <label for="estrategia"  class="form-label">3. ¿Ha tenido la oportunidad de aplicar alguna estrategia/pauta para enfrentar el estrés y fomentar el autocuidado?<span style="color: #FF7D81;">*</span></label>
                  <br> 
                  {{range .Estrategia}}
                  <input type="radio" value="{{.Value}}" name="estrategia" id="estrategia{{.Value}}" onchange="otro()">{{.Label}}</option><br><br> 
                   {{end}}
                  <br>
                  <div class="d-none" id="epracticadiv">
                  <label for="epractica" class="form-label">3.1 ¿Qué estrategias/pautas para enfrentar el estrés y fomentar el autocuidado ha practicado? (Puede seleccionar más de una opción).<span style="color: #FF7D81;">*</span></label>
                  <br> 
                  {{range .Practica}}
                  <input type="checkbox" value="{{.Value}}" name="epractica" id="epractica{{.Value}}" onchange="otro3()">{{.Label}}</option><br><br> 
                   {{end}}
                  <br>
                  
                  <div class="d-none" id="apoyodiv">
                  <label for="apoyo" class="form-label">3.2. ¿Qué apoyo externo o especializado ha buscado?<span style="color: #FF7D81;">*</span></label>
                  <textarea class="form-control" rows="3" name="apoyo" id="apoyo" maxlength="500"></textarea>
                  </div>
                  <br>
                  
                  <label for="cambiov" class="form-label">3.3 ¿De qué manera ha cambiado su vida al incluir estrategias de autocuidado o herramientas para enfrentar el estrés en su cotidianidad?<span style="color: #FF7D81;">*</span></label>
                  <textarea class="form-control" rows="3" name="cambiov" id="cambiov" maxlength="500"></textarea>
                  <br>
                </div>
                <div class="d-none" id="motivodiv">
                <label for="motivo" class="form-label">3.4. ¿Por qué no ha aplicado/practicado estrategias/pautas para enfrentar el estrés y fomentar el autocuidado?<span style="color: #FF7D81;">*</span></label>
                  <textarea class="form-control" rows="3" name="motivo" id="motivo" maxlength="500"></textarea>
                  <br>
                </div>
                <br>  

                <label for="conocet" class="form-label">4. ANTES de recibir las formaciones de Glasswing, ¿conocía sobre técnicas de autocuidado?<span style="color: #FF7D81;">*</span></label>
                <br> 
                {{range .Respuestas}}
                <input type="radio" value="{{.Value}}" name="conocet" id="conocet">{{.Label}}</option><br><br> 
                  {{end}}
              <br>  

              <label for="practicat" class="form-label">5. ANTES de recibir las formaciones de Glasswing, ¿practicaba técnicas de autocuidado?<span style="color: #FF7D81;">*</span></label>
              <br> 
              {{range .Respuestas}}
              <input type="radio" value="{{.Value}}" name="practicat" id="practicat">{{.Label}}</option><br><br> 
                {{end}}
            <br>  

            <label for="estadoe" class="form-label">6. De las siguientes oraciones, seleccione la respuesta que mejor describa cómo se siente. Usted siente que:<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Estado}}
            <input type="radio" value="{{.Value}}" name="estadoe" id="estadoe">{{.Label}}</option><br><br> 
              {{end}}
            <br>  

            <label for="angustia" class="form-label">7. Ingrese el número (del 0 al 10) que mejor describa cuánta angustia ha estado sintiendo esta última semana, incluyendo el día de hoy, siendo 10 extremadamente angustiada(o) y 0 ninguna angustia.<span style="color: #FF7D81;">*</span></label>
            <input class="form-control" type="number" min="0" max="10" step="1" name="angustia" id="angustia" style="margin-left: auto; margin-right: auto;" onchange="updateTemperature(this.value)">

            <br> 
            <label for="termometro" class="d-flex align-items-center justify-content-center">EXTREMADAMENTE ANGUSTIADA(O) “Nunca me había sentido tan mal”<span style="color: #FF7D81;">*</span></label>
            <br>  
             
            <div class="thermometer">
              
              <div class="temperature"></div>
              </div>
              <br> 
              <div class="text-center">
              <label for="termometro" class="d-flex align-items-center justify-content-center">NINGUNA ANGUSTIA “Todo está bien”<span style="color: #FF7D81;">*</span></label> 
             </div>
              <br>  
            <br>
            <h4>Espacios conscientes de trauma</h4>
    <br>
            <div id="pAfirmaciones">
            <label for="opractica" class="form-label">8. De las siguientes afirmaciones, seleccione cuál o cuáles ha tenido la oportunidad de poner en práctica DESPUÉS de la formación:<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Afirmacion}}
            <input type="checkbox" value="{{.Value}}" name="opractica" id="opractica">{{.Label}}</option><br><br> 
              {{end}}
            <br>  

            <label for="oportunidad"  class="form-label">8.1. De las acciones arriba seleccionadas, en el último mes aproximadamente ¿con cuántas personas ha realizado esas prácticas? por ejemplo, a cuántas personas le ha explicado sobre los efectos del trauma en su lugar de trabajo o en su vida diaria.<span style="color: #FF7D81;">*</span></label>
            <br> 
            <input type="text" name="oportunidad" id="oportunidad" class="form-control" maxlength="150" placeholder="" >
            <br>  
            </div>

            <label for="ptrabajo" class="form-label">9. De las siguientes afirmaciones, seleccione cuál o cuáles se ponen en práctica en su lugar de trabajo, es decir, no necesariamente que usted las haga, si no que las observe en su equipo de trabajo después de recibir la formación:<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Lugar}}
            <input type="checkbox" value="{{.Value}}" name="ptrabajo" id="ptrabajo">{{.Label}}</option><br><br> 
              {{end}}
            <br>  

            <label for="clima" class="clima">10. ¿Considera que la formación ha apoyado a la mejora del clima laboral en su trabajo?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Respuestas}}
            <input type="radio" value="{{.Value}}" name="clima" id="clima">{{.Label}}</option><br><br> 
              {{end}}
            <br>  

            <label for="conocee" class="form-label">11. ANTES de recibir la formación, ¿conocía sobre los efectos del trauma en la vida de las personas?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Respuestas}}
            <input type="radio" value="{{.Value}}" name="conocee" id="conocee">{{.Label}}</option><br><br> 
              {{end}}
            <br>  

            <label for="consciente" class="form-label">12. DESPUÉS de la formación, ¿considera que es consciente de los efectos del trauma en la vida de las personas?<span style="color: #FF7D81;">*</span></label>
            <br> 
            {{range .Respuestas}}
            <input type="radio" value="{{.Value}}" name="consciente" id="consciente{{.Value}}" onchange="activaselect2()">{{.Label}}</option><br><br> 
              {{end}}
            <br>  
            <div class="d-none" id="beneficiodiv">
            <label for="beneficio" class="form-label">13. ¿Cómo considera que su conocimiento sobre trauma beneficia a las personas que atiende en su lugar de trabajo?<span style="color: #FF7D81;">*</span></label>
            <textarea class="form-control" rows="2" name="beneficio" id="beneficio" maxlength="300"></textarea>
          </div>
<br>
            <h4>Cohesión Social</h4>
<br>
            <label for="relacion" class="form-label">14. A continuación encontrará una serie de círculos, por favor seleccione el círculo que mejor represente su relación:<span style="color: #FF7D81;">*</span></label>
            <div class="form-group">
              <label> De los siguientes círculos seleccione el que mejor describa su relación con su familia:<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" id="rel1" value="1">
                        <label class="form-check-label" for="rel1">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel1" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel1_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="form-group">
              <label>De los siguientes círculos seleccione el que mejor describa su relación con las personas de su trabajo:<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" id="rel2" value="1">
                        <label class="form-check-label" for="rel2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel2" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel2_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <label> De los siguientes círculos seleccione el que mejor describa su relación con los usuarios que llegan a su lugar de trabajo:<span style="color: #FF7D81;">*</span></label><br>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" id="rel3" value="1">
                        <label class="form-check-label" for="rel3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_1.png" class="img-max" alt="Imagen 1">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="2">
                        <label class="form-check-label" for="imagen2">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_2.png" class="img-max" alt="Imagen 2">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="3">
                        <label class="form-check-label" for="imagen3">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_3.png" class="img-max" alt="Imagen 3">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="4">
                        <label class="form-check-label" for="imagen4">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_4.png" class="img-max" alt="Imagen 4">
                          </div>
                        </label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="rel3" value="5">
                        <label class="form-check-label" for="imagen5">
                          <div class="d-flex justify-content-center">
                            <img src="/public/IMG/rel3_5.png" class="img-max" alt="Imagen 5">
                          </div>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          <div class="form-group">
            <label> De los siguientes círculos seleccione el que mejor describa su relación con las personas de su país:<span style="color: #FF7D81;">*</span></label><br>
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" id="rel4" value="1">
                      <label class="form-check-label" for="rel4">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_1.png" class="img-max" alt="Imagen 1">
                        </div>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="2">
                      <label class="form-check-label" for="imagen2">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_2.png" class="img-max" alt="Imagen 2">
                        </div>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="3">
                      <label class="form-check-label" for="imagen3">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_3.png" class="img-max" alt="Imagen 3">
                        </div>
                      </label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="4">
                      <label class="form-check-label" for="imagen4">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_4.png" class="img-max" alt="Imagen 4">
                        </div>
                      </label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="rel4" value="5">
                      <label class="form-check-label" for="imagen5">
                        <div class="d-flex justify-content-center">
                          <img src="/public/IMG/rel4_5.png" class="img-max" alt="Imagen 5">
                        </div>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <label for="trabajo" class="form-label"> Para dar seguimiento a las personas ganadoras de la rifa, puede confirmarnos su número de teléfono aquí:<span style="color: #FF7D81;">*</span></label>
          <input type="text" name="telefono" id="telefono" class="form-control" maxlength="30" placeholder="">
            <br>
            <label> Su aporte es muy valioso. ¡Muchas gracias por completar esta encuesta! Recuerde que su información es anónima. </label>
                  </div>
      <br>
      <br>
    
      <button class="btn btn-primary" id="boton" type="submit" > Enviar</button>
    </div>
    </form>
 
   <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/JS/sanamente/encuesta.js"></script>
  </body>
</html>

