<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base target="_top">
    <title> Actividad de Cierre PNC - Formación General: módulo C</title>
   <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/static/bootstrap-select/dist/css/bootstrap-select.min.css">
  </head>

  <link rel="stylesheet" href="/public/CSS/estilos_sanamente.css" type="text/css">

  <body class="bg-custom">


<div class="container">
<img src="/public/IMG/Sanamente.png" class="img-fluid" alt="Glasswing" />

<form action="/sanamente/modulo/pnc/post" method="POST" enctype="multipart/form-data" id="formualrioRegistro" name="formualrioRegistro" class="needs-validation" novalidatez>

  <h2> Actividad de Cierre PNC - Formación General: módulo C El Salvador</h2>
  <p style="text-align: justify;">
    A continuación, se te presenta una serie de preguntas sobre lo compartido durante el módulo, el objetivo es conocer cómo el proceso formativo apoya en tu conocimiento y cómo Glasswing puede continuar mejorando su implementación. 
    <br><br>
    Toda la información recolectada es de uso exclusivo para los objetivos del programa y será manejada únicamente por el equipo de SanaMente. El resultado de estas preguntas no tendrá ninguna repercusión en tu participación en la actividad, ni en tu trabajo, por lo que puedes sentir completa confianza al contestar ya que no existe ningún riesgo asociado. 
    <br><br>        
    La información como DUI o documento de identidad tiene como única finalidad el registro de las y los participantes y su fácil identificación entre todos los(as) demás participantes. Este y los demás datos son resguardados en servidores de Glasswing y con acceso único y exclusivo del personal de M&E y la persona responsable de las actividades, ninguna persona ajena a nuestra organización tendrá acceso a ella y no compartiremos el documento de identidad con terceros. 
    <br><br>
    Agradecemos de antemano tus respuestas.
    <br><br>
          </p> 
          <div id="ocultar" class="container">

            <div class="col">
               <label for="nombrecompleto" class="form-label">Escribe tu nombre o indicativo y apellidos ficticios (ejemplo: Juan Pérez González):*</label>
               <input type="text" name="nombreCompleto" id="nombreCompleto" class="form-control" required>
             </div>
               <div class="col">
               <label for="apellido" class="form-label">Seleccionar el nombre de la persona que facilitó este proceso formativo:*</label>
               <select class="form-control selectpicker first-disabled" data-live-search="true" id="apellido" name="apellido" required="true" >
                 <option value=""></option>
                 {{range .Perfil }}
                 <option value="{{.Value}}">{{.Label}}</option>
                 {{end}}
               </select>  
 
             </div>

   <div class="col">
     <label for="gi" class="form-label">Selecciona tu nacionalidad:*</label>
     <select class="form-select" id="nacionalidad" name="nacionalidad" required onchange="activaselect51()">
     <option value="" selected></option>
     <option value="1">Salvadoreña</option>
     <option value="2">Extranjera</option>
     </select>
</div> 

<label for="DUIMl" id="DUIMl" class="form-label">Escribe los últimos 4 dígitos de tu Documento de Identidad (DUI):*</label>
<input type="text" name="DUIM" id="DUIM" class="form-control" placeholder="0081" minlength="4" maxlength="4" required oninput="hideAlert()" onchange="validateFormat()">

<div id="alertContainer" style="display: none;"></div>

<div class="col">
<label for="pais" class="form-label">Selecciona el departamento de la sede PNC a la que perteneces*:</label>
<select class="form-select" id="pais2" name="pais2"  onchange="actualizarmun(this.value)" required >
     <option value=""></option>
     {{range .Departamento}}
     <option value="{{.Value}}">{{.Label}}</option>
     {{end}}
   </select>  

</div>
<div class="col">
<label for="departamento2" class="form-label">Selecciona el distrito de la sede PNC a la que perteneces*:</label>
<select class="form-select" id="departamento2" name="departamento2"   onchange="actualizarsede(this.value)" required>
</select>
</div>

<div class="col">
<label for="sede2" class="form-label">Selecciona la sede PNC a la que perteneces*:</label>
<select class="form-control selectpicker first-disabled" data-live-search="true" id="sede2" name="sede2" required="true" >
 <option value=""></option>
</select>
</div>

<br>
     <h6> A continuación encontrarás una serie de preguntas, agradecemos puedas responderlas de manera individual y recordando lo aprendido en el Módulo C de formación general.</h6>
     <br>
     <div id="pregunta">
     <label for="p1" id="p1" class="form-label personalizado">1. Las respuestas comúnmente asociadas con el trauma incluyen tres grandes categorías: evitación, hipervigilancia y</label>
     <br> 
     {{range .Parentesco}}
     <input type="radio" value="{{.Value}}" name="p1" onchange="quitar('pregunta')" required>{{.Label}}</option><br><br> 
      {{end}}
     </div>
     <br> 
     <div id="pregunta2">
     <label for="p2" class="form-label personalizado">2. Cuando una persona ha experimentado un trauma complejo, sus respuestas de protección ante amenazas: </label>
     <br> 
     {{range .Sexo}}
      <input type="radio" value="{{.Value}}" name="p2" onchange="quitar('pregunta2')" required>{{.Label}}</option><br><br>
      {{end}}
     </div>
      <br> 
      <div id="pregunta3">
     <label for="p3" class="form-label personalizado">3.	Evitar sumar más dificultades o estrés a mis compañeras y compañeros de trabajo corresponde al principio SanaMente:</label>
     <br>  
     {{range .Respuestas}}
      <input type="radio" value="{{.Value}}" name="p3" onchange="quitar('pregunta3')" required>{{.Label}}</option><br><br>
      {{end}}
     </div>
      <br> 
      <div id="pregunta4">
     <label for="p4" class="form-label personalizado">4. Cuál de los siguientes términos se utiliza específicamente para describir los casos donde nos cuesta sentir empatía por los demás:</label>
     <br>   
     {{range .Ultgrad}}
      <input type="radio" value="{{.Value}}" name="p4" onchange="quitar('pregunta4')" required>{{.Label}}</option><br><br>
      {{end}}
     </div>
      <br> 
      <div id="pregunta5">
     <label for="p5" class="form-label personalizado">5. El trauma vicario puede llevarnos a responder de manera similar a cuando nosotros mismos experimentamos un trauma porque:</label>
     <br> 
     {{range .Grado}}
      <input type="radio" value="{{.Value}}" name="p5" required onchange="quitar('pregunta5')">{{.Label}}</option><br><br>
      {{end}}
     </div>
     <br>
   
   <input type="hidden" name="idp" value="7" id="idp">
   <input type="hidden" name="modulo" value="3" id="modulo">
      <button class="btn btn-primary" id="boton" type="submit"> Enviar</button>
      <br>
      <br>
     </form>
    </div>
   <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/JS/sanamente/pncmodulo.js"></script>
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  </body>
</html>

</html>
